/* Page - 5 */
.inner-face {
  height: 80%;
}
.inner-face h1 {
  font-size: calc(6 * var(--vmin));
  margin: 0;
  padding: 0;
}
.inner-face h2 {
  font-style: calc(4 * var(--vmin));
  margin: 0;
  padding: 0;
}
.footnote {
  text-align: center;
  height: 20%;
  width: 100%;
  font-size: calc(2 * var(--vmin));
  color: black;
}
.footnote img {
  display: inline-block !important;
  margin: 0 !important;
}

@media screen and (prefers-color-scheme: dark) {
  img.koala {
    filter: invert(80%);
  }
}